In [12]:
#!pip install tabula-py

In [1]:
import tabula
#from tabula import wrapper
from tabula.io import read_pdf
import pandas as pd
import re

C:\Users\MICHEAL\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
file = "Kaduna FMA.pdf"

In [11]:
tables = read_pdf(file, pages = "all")
#tables = wrapper.read_pdf(file_1, pages = "all")

In [12]:
print(len(tables))

127

In [13]:
len(tables[0])

2

In [14]:
tables[0].columns[0]

'S/NO'

In [15]:
tables[22]  #21

,S/NO,PROJECT,PROJECT COST.,CONTRACTOR,REMARKS
0,1,DEVELOPMENT OF SOFTWARE\rAND ARCHIVING OF EXIS...,"N15,225,000.00",M/S ROUNDSTONE\rCONSULTING NIG. LTD.,NaN
1,2,DEVELOPMENTOF MINI DATA\rCENTRE AND ELECTRONIC...,"N9,011,522.68",M/S ROUNDSTONE\rCONSULTING NIG. LTD.,NaN
2,3,PROCUREMENT OF\rTECHNOLOGY DEPENDENCIES.,"N15,562,104.60",M/S ROUNDSTONE\rCONSULTING NIG. LTD.,NaN

In [16]:
j = 0
for i in range(len(tables)):
    if len(tables[i]) != 0:
        tables[i] = tables[i].rename(columns={tables[i].columns[2]: "PROJECT COST"})
        #tables[i].columns.values[2] = "PROJECT COST"
        j += 1
        if i == 0:
            table = tables[i]
        else:
            if tables[i].columns[0] != "S/NO":
                table.append(tables[i])
            else:
                table = pd.concat([table, tables[i]], ignore_index=True)
print(j)

63

<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])
<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])
<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])
<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])
<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])
<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])
<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])
<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])
<ipython-input-16-159676b3ff7b>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table.append(tables[i])

In [17]:
table

,S/NO,PROJECT,PROJECT COST,CONTRACTOR,REMARKS
0,1.0,RENOVATION OF GOVERNMENT\rLODGE B/17.,"N11,056,353.00",M/S AXF PROJECTS\rNIG. LTD.,NaN
1,2.0,RENOVATION OF GOVERNMENT\rLODGE B/17.,"N8,173,473.00",M/S AXF PROJECTS\rNIG. LTD.,NaN
2,1.0,PROCUREMENT OF OFFICE AND\rCLASS ROOM FURNITURE.,"N237,954,888.00",M/S MAKBLO\rINTEGRATED GLOBAL\rSERVICE LTD.,NaN
3,2.0,PROCUREMENT OF\rLABORATORY FURNITURE.,"N164,433,600.00",M/S KAURA SUPPLIES\rAND MARKETING CO\rLTD.,NaN
4,3.0,"PROCUREMENT OF LIBRARY,\rCLINIC/COMPUTER ROOM\...","N148,236,750.00",M/S KHALID\rINTEGRATED LINKS.,NaN
...,...,...,...,...,...
169,1.0,RENOVATION/REPAIRS OF\rYELWA SCHOOL MAIGANA IN...,"N10,828,307.70",M/S EL-TEEJ\rVENTURES,NaN
170,2.0,MARKET EXTENSION TUDUN\rSAIBU IN SOBA LGA,"N5,247,165.00",M/S CHANJI GLOBAL\rRESOURCES LTD,NaN
171,3.0,CONSTRUCTION OF 7MX6M\rBRIDGE & 1 NO SINGLE CU...,"N6,064,474.50",M/S EL- TEEJ\rVENTURES LTD,NaN
172,4.0,REHABILITATION OF DOUBLE\rCELL CULVERTS MARABA...,"N7,979,561.43",M/S ALAF LS LTD,NaN
173,5.0,SUPPLY OF OFFICE FURNITURE\rFOR SECRETARY’S OF...,"N726,600.00",M/S SONORS\rINVESTMENT NIG LTD,NaN

In [18]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S/NO          174 non-null    float64
 1   PROJECT       174 non-null    object
 2   PROJECT COST  174 non-null    object
 3   CONTRACTOR    174 non-null    object
 4   REMARKS       0 non-null      float64
dtypes: float64(2), object(3)
memory usage: 6.9+ KB

In [19]:
table.to_csv("Kaduna MFA.csv", index=False)